/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea
/web/cov
/web/uploads
/bower_components
/node_modules
/web/phpinfo.php
/web/config.php
npm-debug.log
deploy.php
/recipe/
/recipe/*

