{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-6">
    <h1>Comparison edit</h1>

    {{ form(edit_form) }}


        <ul class="record_actions">
            <li>
                <a href="{{ path('compare') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
