body {
    padding-top: 65px;
}
.top-buffer{
    margin-top: 10px;
}
#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.no-gutter{
    padding-left:0;
    padding-right:0;
}

.fw-row{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}