<div id="modal-finalize" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <h4>
                        <span class="finalize-modal-text">
                            Do you really want to finalize this flight?
                        </span>
                    </h4>
                <p>There is no undo for this operation.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">
                    Cancel
                </button>

                <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button">
                    <i class="fa fa-trash"></i> Finalize
                </button>
            </div>
        </div>
    </div>
</div>
