<div class="modal fade" id="wxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">METAR/TAF</h4>
            </div>
            <div class="modal-body" id="wx-modal-body">
                ...
            </div>
            <div class="modal-footer">
                Last update at:     <span class="wx-update-time"></span>
                <button type="button" class="btn btn-default btn-info wx-update-button">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
