{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="col-md-6">
    <h1>Comparison Case creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('compare_case', { 'id' : app.request.get('id'), 'comp_id' : app.request.get('comp_id') }) }}">
            Back to the list
        </a>
    </li>
</ul>
    </div>
{% endblock %}
